<div class="world-page">

  @if (progress.currentZone(); as zone) {

    <app-zone-progress
      [zone]="zone"
    />

  }

  <div id="phaser-container"></div>

  <!-- LECCIONES -->
  @if (lessonActive(); as lesson) {

    <app-interaction-panel
      (closed)="closeLesson()"
    >

      <app-lesson-runner
        [lessonId]="lesson.lessonId"
        (completed)="completeLesson($event)"
      />

    </app-interaction-panel>

  }

  <!-- DIÁLOGOS -->
  @if (activeDialogue(); as dialogue) {
    <app-interaction-panel
      (closed)="closeDialogue()"
    >
      <app-dialogue
        [dialogue]="dialogue"
        (completed)="closeDialogue()"
      />
    </app-interaction-panel>
  }

</div>