@if (currentStep(); as step) {

  <app-interaction-panel
    [mode]="step.type === 'dialogue' ? 'dialogue' : 'activity'"
    (closed)="closed.emit()"
  >

  @switch (step.type) {

    @case ('dialogue') {

      <app-dialogue
        [dialogue]="step.dialogue"
        (completed)="nextStep()"
      />

    }

    @case ('exercise') {

      @switch (step.exerciseId) {

        @case ('loading-spread') {
          <app-lesson-01-loading (completed)="nextStep()" />
        }

        @case ('ramp-shift-regularity') {
          <app-lesson-02-ramp (completed)="nextStep()" />
        }

        @case ('farm-stability') {
          <app-lesson-02-farm
          (completed)="nextStep()"
          />
        }


        @case ('granary-distance') {
          <app-lesson-03-granary
            (completed)="nextStep()"
          />
        }

        @case ('haulage-range') {
          <app-lesson-03-haulage
            (completed)="nextStep()"
          />
        }


        @case ('plaza-challenge') {
          <app-lesson-04-plaza
            (completed)="nextStep()"
          />
        }


      }

    }




    

  }

  </app-interaction-panel>

}
